<h1><%= @author.name %></h1>

<h2>Books</h2>

<ul>
  <%= render @author_books %>
</ul>

<%= paginate @author_books %>

<p>
  Amount of books: <%= @amount_of_books_published %>
</p>

<%= link_to "Back", authors_path %>
